.rightbar {
    flex: 3.5;
    background-color: #1d4048;
    position: fixed;
    margin-left: 1100px;
    width: 440px;
    height: 800px;
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


  }
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
 
  .rightbarTitle{
      margin-bottom: 20px;

  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
    color: aliceblue;
    margin-left: 70px;
    cursor: pointer;
    background-color: #407885;
    width: 310px;


    margin-top: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
  
  .rightbarTitles{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 162, 0);
    margin-left: 140px;
    margin-top: 20px;
    font-weight: 600;

  }

  .TopicsTitle{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 162, 0);
    margin-left: 140px;
    margin-top: 20px;
    font-weight: 600;

  }
  
.rightbarTopicList{
  background-color: #356570;
  width: 270px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 75px;
  margin-top: 10px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.rightbarTopicListItem{
  margin-left: 5px;
  color: antiquewhite;
  height: 20px;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;

}

.DebateTitle{
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 162, 0);
  margin-left: 140px;
  margin-top: 20px;
  font-weight: 600;

}

.rightbarDebateList{
background-color: #356570;
width: 270px;
border-radius: 20px;
display: inline-block;
margin-left: 75px;
margin-top: 20px;
height: 100px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.rightbarDebateListItem{
margin-left: 5px;
color: antiquewhite;
height: 20px;
justify-content: space-between;
cursor: pointer;
margin-top: 10px;

}

  